<template>
  <div style="min-height: 100vh; background-color: rgb(248,249,251)">

    <b-container>
      <b-row style="padding-top: 4em;">
        <b-col sm="12" md="12" lg="12" xl="12">
          <p style="padding-left: 1em;" @click="go_to_user_page" class="link_name" >Go Back</p>
        </b-col>
        <b-col sm="12" md="12" lg="12" xl="12" v-if="sortedFiles">
          <h3 style="padding-left: 0.5em; padding-bottom: 0.8em;">
            <span class="link_name" @click="go_to_user_page">{{ user }}</span>
            /
            <span class="link_name" @click="retreive_content">{{ this.$route.params.id }}</span>
            <span class="link_name" v-for="(i,index) in dir" :key="index" @click="retreive_dir_content_from_loaded(i.url, index)">/ {{ i.name}} </span>
          </h3>
        </b-col>
      </b-row>
      <b-row>
        
        <b-col sm="4" md="4" lg="4" xl="4" v-if="sortedFiles" style="padding-top: 1em; padding-bottom: 2em;">
          
          <div v-for="item in sortedFiles" :key="item.name">
            <div class="underline">
              <p class="link" v-if="item.type == 'dir'" @click="add_dir(item)"><img src="~/assets/images/law.svg" height="23em" style="padding-right: 0.6em;"/>{{ item.name }}</p>
              <p class="link" v-else ><img src="~/assets/images/contract.svg" height="23em" style="padding-right: 0.6em;"/>
                <span @click="download_file_content(item)">{{ item.name }}</span>
                <span @click="download_file(item)">
                  <img src="~/assets/images/folder.svg" height="20em" style="float: right"/>
                </span>
              </p>
            </div>
          </div>
        </b-col>

        <b-col sm="8" md="8" lg="8" xl="8" v-if="sortedFiles" style="padding-top: 1em; padding-bottom: 2em;">
          
          <b-form-textarea id="textarea1" readonly
                      v-if="file_content"
                      v-model="file_content"
                      :rows="3"
                      :max-rows="100">
          </b-form-textarea>
          
        </b-col>

      </b-row>
    </b-container>
  </div>
</template>

<script src="./index.js" />

<style src="./index.css" scoped />