h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.1em;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.1em;
}

.underline {
  border-bottom: 1px solid black;
  margin: 1em;
  padding-left: 1em;
  padding-bottom: 0.25em;

  cursor: pointer;
}

.link {
  color: rgb(0,123,219);
  margin-bottom: 0.5em;
}

.link_name {
  color: black;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.link_name:hover {
  color: rgb(0,123,219);
  text-decoration-line: underline;
}

.link:hover {
 text-decoration-line: underline;
}