<template>
  <b-container fluid style="background-color: #000; height: 80px" v-if="type == 1">
    <b-row style="height: 100%">
      <b-col sm="12" md="6" lg="6" xl="6" align-self="center">
        <div style="padding-left: 3em">
          <p class="big_title" style="color: white;">Github API</p>
        </div>
      </b-col>
    </b-row>

  </b-container>
  <b-container fluid style="background-color: #000; height: 80px" v-else-if="type == 2">
    <b-row style="height: 100%">
      <b-col sm="6" md="6" lg="6" xl="6" align-self="center">
        <div class="padding_title">
          <p class="big_title" style="color: white;">Github API</p>
        </div>
      </b-col>
      <b-col sm="6" md="6" lg="6" xl="6" align-self="center">
        <div class="padding_button">
          <b-dropdown id="ddown-split" split :text='lang' class="m-2">
            <b-dropdown-item @click="select_lang('en')">English</b-dropdown-item>
            <b-dropdown-item @click="select_lang('hn')">Hindi</b-dropdown-item>
          </b-dropdown>
          <b-button variant="primary" @click="logout">
            Logout
          </b-button>
        </div>
      </b-col>
    </b-row>

  </b-container>
</template>

<script src="./index.js" />

<style src="./index.css" scoped />