
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 0.3em;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.1em;
}

.big_title {
  font-size: 1.4em;
  padding-top: 0.5em;
}

.padding_title {
  padding-left: 3em
}

.padding_button {
  float: right; 
  padding-right: 3em;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .big_title {
    font-size: 1em;
    padding-top: 0.5em;
  }

  .padding_title {
    padding-left: 1.5em
  }
  
  .padding_button {
    float: right; 
    padding-right: 1.5em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .big_title {
    font-size: 1em;
    padding-top: 0.5em;
  }

  .padding_title {
    padding-left: 1.5em
  }
  
  .padding_button {
    float: right; 
    padding-right: 1.5em;
  }
}