<template>
  <div>

    <b-container fluid v-if="data" style="background-color: rgb(248,249,251)">
      <b-row align-h="end" style="height: 100vh">

        <b-col sm="12" md="6" lg="4" xl="4" class="left" >
          <div style="text-align: center; padding-top: 3em;">
            <p class="small bio" v-if="data.bio">" {{ data.bio }} "</p>
            <img :src='data.avatar_url' class="avatar"/>
          </div>
          <div style="padding-left: 20px">
            <personalInfo :data="data" />
          </div>
        </b-col>

        <b-col sm="12" md="6" lg="8" xl="8">
          <div v-if="repos" style="width: 100%">
            <b-container>
              <b-row style="margin-top: 3em; margin-bottom: 1em; margin-right: 0.5em">
                <b-col sm="6" md="6" lg="6" xl="6">
                  <h3>{{ labels.REPOSITORIES }}</h3>
                </b-col>
                <b-col sm="6" md="6" lg="6" xl="6">
                  <div style="float: right;">
                    <p style="display: inline-block">{{ labels.PER_PAGE }} : </p>
                    <b-dropdown id="ddown-split" split :text='per_page.toString()' class="m-2" >
                      <b-dropdown-item v-for="(i, idx) in per_page_array" :key="idx" @click="select_per_page(i)">{{ i }}</b-dropdown-item>
                    </b-dropdown>
                  </div>
                </b-col>
              </b-row> 
            </b-container>

            <b-container>
              <b-row style="margin-right: 1em;">
                <b-col sm="12" md="12" lg="6" xl="4" style="text-align: center" v-for="(repo, index) in repos" :key="index">
                  <repo :name='repo.name' :description='repo.description' :full_name="repo.full_name" :url="repo.url" :fetch="fetch_repo_contents"/> 
                </b-col>
              </b-row>
            </b-container>

            <b-container>
              <b-row align-h="center" style="margin-top: 2em;">
                <!--<b-pagination-nav 
                  size="md" 
                  :number-of-pages="Math.ceil(repos_count/per_page)" 
                  v-model="page"
                  :link-gen="handle_page_change" />-->

                  <b-pagination :total-rows="repos_count" v-model="page" :per-page="per_page" @change="handle_page_change">
                  </b-pagination>
              </b-row>
            </b-container>
          </div>
        </b-col>



      </b-row>
    </b-container>
  </div>
</template>

<script src="./index.js" />

<style src="./index.css" scoped />