h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.1em;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.1em;
}

.bio {
  color: white;
  text-align: center;
  margin-left: 2.5em;
  margin-right: 2.5em;
  padding-bottom: 3em;
}

.left {
  padding-top: 4em; 
  background-image: linear-gradient(120deg, #4a1942, #0e0e52);
}

.avatar {
  border-radius: 50%;
  height: 15em;
}

