<template>
  <div class="component_decorator" @click="fetch(url, name)">
    <p class="text">{{ full_name }}</p>
    <p class="small" style="margin-top: -0.5em">{{ description | shorten50 }}</p>
  </div>
</template>

<script src="./index.js" />

<style src="./index.css" scoped />