h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 0.9em;
  width: 100%;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.1em;
}

.component_decorator {
  position: relative;

  padding: 1em;
  margin:1em;
  padding-top: 0.8em;

  border: 0.15em solid rgb(0 ,123,219);
  border-radius: 0.2em;
  background-color: white;
  cursor: pointer;
  
  height: 95px;
  display: inline-block;
  width: 100%;
}

.component_decorator:hover {
  color: rgb(0 ,123,219);
}

.text {
  margin-top: 3.5px;
}