<template>
  <div>

    <b-container>
      <b-row align-h="end" style="height: 90vh">

        <b-col sm="12" md="6" lg="6" xl="6" align-self="center">
          <div style="text-align: center">
            <img src="~/assets/images/team.svg" height="250em" />
          </div>
        </b-col>

        <b-col sm="12" md="6" lg="6" xl="6" align-self="center">

          <b-form @submit="submit">

            <b-form-group id="exampleInputGroup1"
                          :label="labels.ENTER_USERNAME"
                          label-for="exampleInput1">
              <b-form-input id="exampleInput1"
                            type="text"
                            v-model="username"
                            required
                            :placeholder="labels.ENTER_USERNAME">
              </b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">{{ labels.SUBMIT }}</b-button>

          </b-form>


        </b-col>

      </b-row>
    </b-container>
  </div>
</template>

<script src="./index.js" />

<style src="./index.css" />