.flag {
  height: 1em;
  margin-top: -0.55em;
  margin-right: 0.4em;
}

.spc-border {
  margin-top: 5em;
  margin: 1em;
  padding: 1em;
  color: white
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 0.3em;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.1em;
}
