<template>
  <div class="spc-border" v-if="data">
    <div style="padding-top: 1em;">
      <h4 style="display: inline-block">{{ data.name }}</h4>
      <p class="big">{{ labels.FOLLOWERS }} - {{ data.followers }} | {{ labels.FOLLOWING }} - {{ data.following }}</p>
    </div>
    <div style="padding-top: 0.5em">
      <p class="small">{{ labels.CREATED }} - {{ created_at }}</p>
      <p class="small">{{ labels.LAST_UPDATED }} - {{ updated_at }}</p>
    </div>
  </div>
</template>

<script src="./index.js" />

<style src="./index.css" scoped />